<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<!-- Warning, creates a database and lock file in the home directory called "pinkDB*" -->
		<!-- Not quite sure if this will work with windows... -->
		<property name="connection.url">jdbc:h2:~/pinkDB</property>
		<!-- <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property> -->
		<property name="connection.username">user</property>
		<property name="connection.password">password</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.H2Dialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Names the annotated entity class -->
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Allergy" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Diagnosis" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Doctor" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Dose" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Ingredient" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.MedicationPrescription" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Medicine" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Note" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Patient" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Session" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Treatment" />
		<mapping class="ch.bfh.bti7081.s2013.pink.model.Warning" />

	</session-factory>
</hibernate-configuration>