@import "../mobiletheme/mobiletheme.scss";

@mixin pinktheme {
	@include reindeer;

	/* An actual theme rule */
	.v-slot-p-note {
		background: url(img/sticky-note.png) no-repeat;
		padding-top: 0.5em;
		padding-bottom: 0.6em;
		padding-left: 5%;
		padding-right: 5%;
		margin: 0.8em;
		background-size: 100% 100%;
		min-height: 5em;
	}
	
	.v-slot-p-note .v-caption {
		text-align: right;
		width: 100%;
		font-style: italic;
		padding-bottom: 0.6em;
	}

	.v-slot-p-note .v-label {
		white-space: pre-wrap;
	}

	.v-slot-p-note .v-button {
		float: right;
		width: 2em;
		height: 2em;
		background: url(img/delete.png) no-repeat;
		background-size: 100% 100%;
	}

	.v-touchkit-verticalcomponentgroup {
		background-color: #ef9cc2;
		border: 1px solid #d51c80;
	}

	.v-touchkit-componentgroup-row {
		border-top: 1px solid #d51c80;
	}
}